<div id="activity-<%= activity.id %>" class="activity<% unless activity.first? %> hidden<% end %>">
  <span class="unread-flag"><i class="fi-asterisk unread"></i></span>
  <span class="description"><%= link_to activity.owner.username, activity.owner %> <%= render_activity activity %></span>
</div>
