<div class="activity<% unless activity.first? %> hidden<% end %>">
  <span><% if @unread_activities.include? activity.id %><i class="fi-asterisk unread"></i><% end %></span>
  <span class="description"><%= link_to activity.owner.username, activity.owner %> <%= render_activity activity %></span>
</div>
