<div id="version" class="reveal-modal" data-reveal>
	<h2>Versionen</h2>
	<table>
		<tr>
			<td>Dysnomia</td>
			<td><%= app_version %></td>
		</tr>
		<tr>
			<td>Rails</td>
			<td><%= Rails.version %></td>
		</tr>
		<tr>
			<td>Ruby</td>
			<td><%= RUBY_VERSION %></td>
		</tr>
	</table>
</div>