development:
  secret_key_base: <output of `rake secret`>
  etherpad_api_key: <value from APIKEY.txt>


test:
  secret_key_base: <output of `rake secret`>
  etherpad_api_key: <value from APIKEY.txt>

production:
  secret_key_base: <output of `rake secret`>
  etherpad_api_key: <value from APIKEY.txt>
