development:
  secret_key_base: <output of `rake secret`>
  discourse_api_key: <value generated in discourse>
  discourse_sso_secret: <output of `rake secret`>


test:
  secret_key_base: <output of `rake secret`>
  discourse_api_key: <value generated in discourse>
  discourse_sso_secret: <output of `rake secret`>

production:
  secret_key_base: <output of `rake secret`>
  discourse_api_key: <value generated in discourse>
  discourse_sso_secret: <output of `rake secret`>